In [24]:
import pandas
sous_nutrition = pandas.read_csv("sous_nutrition.csv")
population = pandas.read_csv("population.csv")
sous_nutrition.head()

          Zone      Année Valeur
0  Afghanistan  2012-2014    8.6
1  Afghanistan  2013-2015    8.8
2  Afghanistan  2014-2016    8.9
3  Afghanistan  2015-2017    9.7
4  Afghanistan  2016-2018   10.5

In [25]:
sous_nutrition['Valeur'] = pandas.to_numeric(sous_nutrition['Valeur'], errors='coerce')
sous_nutrition.fillna(0, inplace=True)
sous_nutrition.rename(columns={"Valeur": "Sous_nutrition"}, inplace=True)
sous_nutrition['Sous_nutrition'] *= 1000000
sous_nutrition.head()

          Zone      Année  Sous_nutrition
0  Afghanistan  2012-2014       8600000.0
1  Afghanistan  2013-2015       8800000.0
2  Afghanistan  2014-2016       8900000.0
3  Afghanistan  2015-2017       9700000.0
4  Afghanistan  2016-2018      10500000.0

In [26]:
population['Valeur'] *= 1000
population.rename(columns={"Valeur": "Population"}, inplace=True)
population.head()

          Zone  Année  Population
0  Afghanistan   2013  32269589.0
1  Afghanistan   2014  33370794.0
2  Afghanistan   2015  34413603.0
3  Afghanistan   2016  35383032.0
4  Afghanistan   2017  36296113.0

In [27]:
proportion = pandas.merge(population.loc[population['Année'] == 2017, ["Zone", "Population"]], sous_nutrition.loc[sous_nutrition['Année'] == '2016-2018', ["Zone", "Sous_nutrition"]], on='Zone')
proportion.head()

             Zone  Population  Sous_nutrition
0     Afghanistan  36296113.0      10500000.0
1  Afrique du Sud  57009756.0       3100000.0
2         Albanie   2884169.0        100000.0
3         Algérie  41389189.0       1300000.0
4       Allemagne  82658409.0             0.0

In [101]:
pop2017 = proportion['Population'].sum()
sous_nutri2017 = proportion['Sous_nutrition'].sum()
resultat2017 = round((sous_nutri2017/pop2017)*100, 2)
print(f"La proportion de personnes en sous nutrition en 2017 est de :",resultat2017,"%")

La proportion de personnes en sous nutrition en 2017 est de : 7.1 %

In [29]:
dispo = pandas.read_csv("dispo_alimentaire.csv")
dispo.fillna(0, inplace=True)
dispo.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,0.77,53.0,0.0,0.0,53.0,0.0,53.0,0.0,0.0,0.0
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,0.0,0.0,0.0
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82.0,0.0,82.0,82.0,0.0,0.0,0.0,0.0,0.0

In [34]:
dispo = dispo.merge(population.loc[population['Année'] == 2017, ["Zone", "Population"]], on='Zone')
dispo.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Population
0,Afghanistan,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,0.77,53.0,0.0,0.0,53.0,0.0,53.0,0.0,0.0,0.0,36296113.0
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,0.0,0.0,0.0,36296113.0
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,36296113.0
3,Afghanistan,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,36296113.0
4,Afghanistan,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82.0,0.0,82.0,82.0,0.0,0.0,0.0,0.0,0.0,36296113.0

In [65]:
dispo['dispo_prot'] = dispo['Disponibilité de protéines en quantité (g/personne/jour)'] * dispo['Population'] * 365
print("Quantité de protéines totale disponibles : ",dispo['dispo_prot'].sum(),"g")

Quantité de protéines totale disponibles :  214278240885710.2 g

In [99]:
nb_humain_nourris = round(dispo['dispo_prot'].sum()/(50 * 365), 2)
print("Nombre d'humains pouvant être nourris avec les protéines disponibles :",nb_humain_nourris)

Nombre d'humains pouvant être nourris avec les protéines disponibles : 11741273473.19

In [100]:
prop_humains = round((nb_humain_nourris / population.loc[population['Année'] == 2017, "Population"].sum()) *100, 2)
print("Proportion d'humains pouvant être nourris avec les protéines disponibles :", prop_humains, "%")

Proportion d'humains pouvant être nourris avec les protéines disponibles : 155.55 %

In [97]:
prod_vegetaux = dispo.loc[dispo['Origine'] == "vegetale"]
print("Quantité de protéines totale disponibles : ",prod_vegetaux['dispo_prot'].sum(),"g")
nb_humain_nourris = round(prod_vegetaux['dispo_prot'].sum()/(50 * 365))
print("Nombre d'humains pouvant être nourris avec les protéines disponibles :",nb_humain_nourris)
prop_humains = round((nb_humain_nourris / population.loc[population['Année'] == 2017, "Population"].sum()) *100, 2)
print("Proportion d'humains pouvant être nourris avec les protéines disponibles :", prop_humains, "%")

Quantité de protéines totale disponibles :  130688270724302.17 g
Nombre d'humains pouvant être nourris avec les protéines disponibles : 7161001136
Proportion d'humains pouvant être nourris avec les protéines disponibles : 94.87 %

In [96]:
dispo_int = dispo['Disponibilité intérieure'].sum()
alim_animaux = round((dispo['Aliments pour animaux'].sum()/dispo_int)*100, 2)
pertes = round((dispo['Pertes'].sum()/dispo_int)*100, 2)
nourriture = round((dispo['Nourriture'].sum()/dispo_int)*100, 2)
print("Proportion d'Aliments pour Animaux :",alim_animaux, "%")
print("Proportion de Pertes :",pertes, "%")
print("Proportion de Nourriture :",nourriture, "%")

Proportion d'Aliments pour Animaux : 13.23 %
Proportion de Pertes : 4.65 %
Proportion de Nourriture : 49.37 %

In [125]:
liste_cereales = pandas.read_csv("liste_cereales.csv")
liste_cereales.Produit.unique()
liste_cereales = ['Blé et produits', 'Riz et produits', 'Orge et produits',
       'Maïs et produits', 'Seigle et produits', 'Avoine',
       'Millet et produits', 'Sorgho et produits', 'Céréales, Autres']
prop_animale = dispo.loc[dispo['Produit'].isin(liste_cereales)]
prop_animale = round((prop_animale['Aliments pour animaux'].sum()/prop_animale['Disponibilité intérieure'].sum())*100, 2)
print("La proportion d'alimentation animale est de :", prop_animale, "%")
prop_humaine = dispo.loc[dispo['Produit'].isin(liste_cereales)]
prop_humaine = round((prop_humaine['Nourriture'].sum()/prop_humaine['Disponibilité intérieure'].sum())*100, 2)
print("La proportion d'alimentation pour les humains est de :", prop_humaine, "%")

La proportion d'alimentation animale est de : 69.67 %
La proportion d'alimentation pour les humains est de : 17.63 %

In [131]:
thailande = proportion.loc[proportion['Zone'] == 'Thaïlande']
prop_thai = round((thailande['Sous_nutrition'].sum()/thailande['Population'].sum())*100,2)
print("La proportion de Thailandais en sous nutrition est de :", prop_thai,"%")

La proportion de Thailandais en sous nutrition est de : 8.96 %

In [133]:
manioc = dispo.loc[(dispo['Produit'] == "Manioc") & (dispo['Zone'] == 'Thaïlande')]
prop_manioc = round((manioc['Exportations - Quantité'].sum()/manioc['Production'].sum())*100, 2)
print("La proportion de manioc exporté est de : ", prop_manioc,"%")

La proportion de manioc exporté est de :  83.41 %

In [134]:
proportion['Proportion'] = round(proportion['Sous_nutrition'] / proportion['Population'] *100, 2)
proportion[['Zone', 'Proportion']].sort_values(by = 'Proportion', ascending=False).head(20)

                                           Zone  Proportion
78                                        Haïti       48.26
157  République populaire démocratique de Corée       47.19
108                                  Madagascar       41.06
103                                     Libéria       38.28
100                                     Lesotho       38.25
183                                       Tchad       37.96
161                                      Rwanda       35.06
121                                  Mozambique       32.81
186                                 Timor-Leste       32.17
0                                   Afghanistan       28.93
44                                        Congo       27.39
198      Venezuela (République bolivarienne du)       27.21
171                                Sierra Leone       26.71
158                 République-Unie de Tanzanie       24.52
87                                         Iraq       23.97
96                                        Kenya       23.70
26                                     Botswana       22.67
187                                        Togo       20.78
46                                Côte d'Ivoire       20.05
61                                     Éthiopie       19.83

In [138]:
aide_alimentaire = pandas.read_csv("aide_alimentaire.csv")
aide = aide_alimentaire[['Pays bénéficiaire', 'Valeur']].groupby('Pays bénéficiaire').sum()
aide.sort_values(by="Valeur", ascending=False).head(20)

                                             Valeur
Pays bénéficiaire
République arabe syrienne                   1858943
Éthiopie                                    1381294
Yémen                                       1206484
Soudan du Sud                                695248
Soudan                                       669784
Kenya                                        552836
Bangladesh                                   348188
Somalie                                      292678
République démocratique du Congo             288502
Niger                                        276344
Tchad                                        267966
Pakistan                                     231072
République populaire démocratique de Corée   187412
Afghanistan                                  185452
République-Unie de Tanzanie                  172022
Philippines                                  171722
Palestine                                    169684
Mali                                         149586
Haïti                                        116450
Nicaragua                                    115332

In [140]:
moins_dispo = dispo[['Zone', 'Produit', 'Disponibilité de protéines en quantité (g/personne/jour)']].groupby('Zone').sum()
moins_dispo.sort_values(by='Disponibilité de protéines en quantité (g/personne/jour)', ascending=True).head(10)

                           Disponibilité de protéines en quantité (g/personne/jour)
Zone
Libéria                                                                37.66
Guinée-Bissau                                                          44.05
Mozambique                                                             45.68
République centrafricaine                                              46.04
Madagascar                                                             46.69
Haïti                                                                  47.70
Zimbabwe                                                               48.32
Congo                                                                  51.41
Ouganda                                                                52.64
Sao Tomé-et-Principe                                                   53.10

In [141]:
plus_dispo = dispo[['Zone', 'Produit', 'Disponibilité de protéines en quantité (g/personne/jour)']].groupby('Zone').sum()
plus_dispo.sort_values(by='Disponibilité de protéines en quantité (g/personne/jour)', ascending=False).head(10)

                          Disponibilité de protéines en quantité (g/personne/jour)
Zone
Islande                                                              133.06
Chine - RAS de Hong-Kong                                             129.07
Israël                                                               128.00
Lituanie                                                             124.36
Maldives                                                             122.32
Finlande                                                             117.56
Luxembourg                                                           113.64
Monténégro                                                           111.90
Pays-Bas                                                             111.46
Albanie                                                              111.37

In [172]:
variete_alim = dispo.groupby('Zone')['Produit'].nunique()
print("Les pays ayant la plus grande variete alimentaire sont les suivants :\n",
      variete_alim.sort_values(ascending=False).head(10).to_string(index=True))

Les pays ayant la plus grande variete alimentaire sont les suivants :
 Zone
Inde                           97
Japon                          97
Chine - RAS de Hong-Kong       96
Indonésie                      96
Italie                         96
Kenya                          96
El Salvador                    96
Costa Rica                     96
Colombie                       96
République-Unie de Tanzanie    96

In [173]:
variete_alim = dispo.groupby('Zone')['Produit'].nunique()
print("Les pays ayant la plus petite variete alimentaire sont les suivants :\n",
      variete_alim.sort_values(ascending=True).head(10).to_string(index=True))

Les pays ayant la plus petite variete alimentaire sont les suivants :
 Zone
Lesotho                                       53
Turkménistan                                  57
Afghanistan                                   60
Timor-Leste                                   61
République populaire démocratique de Corée    61
Tadjikistan                                   66
République démocratique populaire lao         70
Sao Tomé-et-Principe                          72
Tchad                                         73
Libéria                                       73